body{
    background-color: rgb(24, 24, 22);
}

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0 190px 0 190px; 
}  
.head-div-1{
    display: flex;
    justify-content: space-between;
    background-color: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
}
.head-sec1-nav-div2{
    padding-top: 18px;
}
li{
    text-decoration: none;
    list-style: none;
    margin-left: 48px;
    font-size: 15px;
    display: inline;
    color:#FFFFFF;
}
ul{
    display: flex;
    align-items: center;
}
.head-li{
    background-color: rgba(230, 83, 60, 1);
    font-size: 15px;
    padding:10px;
    border-radius: 20px;
    width: 62px;
    height: 17px;
    text-align: center;   
}
.head-div1-h3-1{
    font-size: 36px;
    color: rgba(230, 83, 60, 1);
}
.head-sec2-div1-h1{
    color: rgba(255, 255, 255, 1);   
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 28px;
}
span{
    font-family: "Miami" , sans-serif;
}
.head-sec2-div2-p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}
.head-sec2-div3-bu1{
    padding: 13px 35px 13px 35px;
    border-radius: 42px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
    border: none;
    font-weight: bold;
}
.head-sec2-div3-bu2{
    padding: 13px 35px 13px 35px;
    border-radius: 42px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: #0000;
    border: 1px solid rgba(255, 255, 255, 1);
    font-weight: bold;
}
.head-sec-2{
    display: flex;
    justify-content: space-between;
}